{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <form method="get">
        <input type="file"><br>
        <button type="submit" onclick=>Upload</button>
    </form>



{% endblock %}