{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {# <p>{% for day,hours in openhours %}
    <h3>{{ day }}</h3>
    {% if hours != '' %}
        {{ hours }}
    {% else %}
        fermé
    {% endif %}
{% endfor %}  </p>#}
    {{ dump(resslots) }}
    <form method="post" action="#"><input id="nbcutelry" name="nbcutelry" type="number" onkeyup="setInterval(this.value)"><input id="date" name="date" type="datetime-local">{% for resslot in resslots %}

            <button id="slot" type="submit">{{ resslot }}</button>
        {% endfor %}</form>

{% endblock %}
{# {% block javascripts %}#}

{#{% endblock %}#}